<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user_list %}
    <ul>
        {% for user in user_list %}
            <li><a href="{% url 'blog:personalhomepage' user.id %}">{{ user.id }}-{{ user.username }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No user.</p>
{% endif %}

{% if not request.user.id %}
    <a href="{% url 'blog:login' %}">Login</a><br>
    <a href="{% url 'blog:register' %}">Regist</a>
{% endif %}

</body>
</html>